
* {
	box-sizing: border-box;
	background-color: black;
}


[class*="col-"]{width: 100%;} /*For mobile*/

@media only screen and (min-width: 768px) { /*For Desktop*/
	.col-1 {width: 20%;}
	.col-2 {width: 40%;}
	.col-3 {width: 60%;}
	.col-4 {width: 80%;}
	.col-5 {width:100%;}
}

[class*="col-"] {
	float: left;
	padding: 15px;
	border: 0px solid red;
	color: white;
}

.row::after{
	content: "";
	clear: both;
	display: table;
}

p {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: xx-large;
}

img {
	width: 100%;
	height: auto;
}