
* {
	box-sizing: border-box;
	background-color: black;
	font-family: Verdana, Geneva, sans-serif;
}


[class*="col-"]{width: 100%;} /*For mobile*/

@media only screen and (min-width: 768px) { /*For Desktop*/
	.col-1 {width: 25%;}
	.col-2 {width: 50%;}
	.col-3 {width: 75%;}
	.col-4 {width: 100%;}

	.right > p{text-align: right;}
	.left > p{text-align: left;}
}

[class*="col-"] {
	float: left;
	padding: 15px;
	border: 0px solid red;
	color: #26AFEC;
}

.row::after{
	content: "";
	clear: both;
	display: table;
}

p {
	text-align: center;
	color: #f8af48;
}

h1 {
	text-align: center;
	vertical-align: top;
	font-size: xx-large;
	color:#26afec;
}

h2 {
	text-align: center;
	vertical-align: top;
	color:#26afec;
}

h3 {
	text-align: center;
	vertical-align: top;
	color:#26afec;
}
li {
	text-align: center;
	color: #64bb5c;
}

a {
	color: #26AFEC;
}
img {
	width: 100%;
	height: auto;
}
