
* {
	box-sizing: border-box;
}

.col-1 {width: 20%;}
.col-2 {width: 40%;}
.col-3 {width: 60%;}
.col-4 {width: 80%;}
.col-5 {width:100%;}

[class*="col-"] {
	float: left;
	padding: 15px;
	border: 1px solid red;
}

p {
	color: green;
}
